@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Outfit:wght@700&display=swap');

body{
    font-family: 'Montserrat';
    background-color: #e6e7eb;
    margin: 0;
    padding: 0;
}

.bodyC{
    margin: 30px auto;
    width: 80%;
}

/*--------------------------------------- NAV ---------------------------------------*/

.color1 {color: #005ac5;}
.color2 {color: #0082de;}
.color3 {color: #00b0f9;}
.color4 {color: #8ce0ff;}
.color5 {color: #d8ffff;}


.imgN{
    max-height: 150px;
}

.nav-bar{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 5px;
    background-color:#4c8ddd;
    height: 39px;
}

.nav-bar ul{
    margin: 0;
}

.nav-bar ul li{
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 10px 50px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    background-color: #4c8ddd;
}

.nav-bar ul li:hover{
    background-color: #4176b8;
}

.nav-bar .ingresarli{
    margin-left: 200px;
}

.nav-bar a:link {
    text-decoration: none;
}
  
.nav-bar  a:visited {
    color: #fff;
    text-decoration: none;
}

/*------------------------------------- Main Pagina --------------------------------------*/

.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.principal{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.24);
    border-left: 1px solid rgba(0, 0, 0, 0.24);
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    background-color: #52a0bd;
    width: 1100px;
    margin-bottom: 20px;
    /* height: 549px; */
}

.noticiaP{
    width: 70%;
    margin: 10px;
}

.noticiaP .imgNP{
    max-height: 300px;
    max-width: 900px;
}

.imgNP{
    border-radius: 5px;
}

/*------------------------------------ Aside -----------------------------------------------*/

.aside{
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 7px;
    background-color: #40739e;
    margin-left: 5px;
    width: 300px;
}

.aside .content{
    height: 100%;
    margin-top: 10px;
    display: flex;
}

.content .card{
    cursor: pointer;
    border-radius: 5px;
    background-color: #7aaceb;
    margin-left: 25px;
    margin-top: 10px;
    width: 250px;
    height: 250px;
}

.card:hover{
    transform: scale(1.030,1.030);
}

.card img{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card p{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.btn-aside{
    border: none;
    border-radius: 3px;
    margin-left: 50px;
    height: 25px;
    width: 150px;
}

/*----------------------------------- Footer/Btn Ayuda/Inicio ----------------------------------------------------*/

.footer{
    background-color: aquamarine;
    width: 100%;
    height: 0px;
}


.con{
    font-family: 'Montserrat';
    color: #fff;
    background-color: #4c8ddd;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    position: fixed;
    transition: 0.4s;
}

.ini{
    font-family: 'Montserrat';
    color: #fff;
    background-color: #4c8ddd;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    bottom: 20px;
    right: 20px;
    padding: 10px 23px;
    position: fixed;
    transition: 0.4s;
}

.ayu{
    font-family: 'Montserrat';
    color: #fff;
    background-color: #4c8ddd;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    bottom: 60px;
    right: 20px;
    padding: 10px 20px;
    position: fixed;
    transition: 0.4s;
}

.ini a:link,.ayu a:link,.con a:link {
    text-decoration: none;
    color: #fff;
}
  
.ini a:visited,.ayu a:visited,.con a:visited{
    color: #fff;
    text-decoration: none;  
}


.ini:hover,.ayu:hover,.con:hover{
    background-color: #ffa1ef;
}
