@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Outfit:wght@200;300;400;500;600;700&display=swap');

/*---------------------------------------------- Login ---------------------------------------------------*/

body{
    font-family: 'Outfit';
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
}

.nav-bar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 7px;
    padding: 0;
    margin: 20px;
    background-color: #f8f8f8;
    height: 50px;
    overflow: hidden;
    transition: 0.6s;
}

.nav-bar:hover{
    height: 130px;
}

.nav-bar img{
    margin-top: 10px;
    margin-left: 10px;
}

.main{
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-color: #f8f8f8;
    margin: 100px auto;
    margin-bottom: 30px;
    width: 350px;
    height: 420px;
    display: flex;
    overflow: hidden;
    transition: 1.5s;
}

.main form{
    text-align: center;
    margin: 10px auto;
}

.main form h2{
    color: #0984e3
}

.main form .inputs{
    margin-top: 30px;
}

.main form input{
    border-radius: 3px;
    border: 1px solid #b1b1b1;
    width: 230px;
    padding: 10px;
    margin: 10px;
}

.main form .ingresar{
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #b1b1b1;
    margin-top: 40px;
    height: 35px;
    width: 150px;
    padding: 8px;
    transition: 1s;
}

.main form .ingresar:hover{
    height: 35px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #0984e3;
}

.main form a{
    cursor: pointer;
    color: #0984e3;
    text-decoration: none;
}


.main form a:link,.main form a:visited{
    color: #0984e3;
}

/*------------------------------------------- Registro -----------------------------------------*/

.mainR{
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-color: #f8f8f8;
    margin-top: 30px;
    width: 0px;
    /* width: 350px; */
    height: 500px;
    display: flex;
    overflow: hidden;
    transition: 1.5s;
}

.mainR.act{
    margin-right: 220px;
    width: 370px;
}

.mainR form{
    text-align: center;
    margin: 10px auto;
}

.mainR form h2{
    color: #0984e3;
}

.mainR form input{
    border-radius: 3px;
    border: 1px solid #b1b1b1;
    width: 230px;
    padding: 10px;
    margin: 10px;
}

.mainR form a{
    text-decoration: none;
    color: #000000;
}

.mainR form .registrar{
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #b1b1b1;
    margin-top: 20px;
    margin-left: 10px;
    padding: 8px;
    transition: 1s;
}

.mainR form .cancelar{
    cursor: pointer;
    width: 10px;
    height: 5px;
    border-radius: 50px;
    border: 1px solid #b1b1b1;
    margin-top: 20px;
    margin-left: 10px;
    padding: 8px;
    transition: 1s;
}

.mainR form .cancelar.act{
    width: 100px;
    height: 35px;
}

.mainR form .cancelar:hover{
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: #d63031;
}

.mainR form .registrar:hover{
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: #0984e3;
}

/*------------------------------------------------ Alerta ----------------------------------------------*/

#alert{
    overflow: hidden;
    color: #085b9b;
    text-align: center;
    border: 1px solid #085b9b;
    border-radius: 10px;
    margin: 0px auto;
    width: 600px;
    height: 0px;
    transition: 1.5s;
}

#alert.act{
    color: #10ac84;
    border-color: #10ac84;
    overflow: visible;
}

#alert.afk{
    color: #d63031;
    border-color: #d63031;
    overflow: visible;
}