@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Outfit:wght@200;300;400;500;600;700&display=swap');


/*---------------------------------------------- NAV ----------------------------------------------------*/
body{
    background-image: url(../img/fondo.jpg);
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    font-family: 'Outfit';
    padding: 0;
    margin: 0;
}

.principal{
    width: 100%;
}

.nav-container{
    height: 100px;
    display: flex;
}

.nav-container ul{
    margin-top: 50px;
    display: inline-flex;
}

.nav-container ul li{
    list-style: none;
    margin-left: 40px;
}

.nav-container .lista li{
    padding: 5px;
    transition: 0.1s;
}

.lista li:hover{
    cursor: pointer;
    border-bottom: 3px solid #f0932b;
    border-radius: 3px;
}


.lista li a:link{
    color: black;
    text-decoration: none;
}

.lista li a:visited{
    color: black;
}

.lista2{
    margin-left: 260px;
}

.lista2 ul li{
    margin-left: 10px;
}

.lista2 .ingresar{
    color: #fff;
    background-color: #f39c12;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 90px;
}

.lista2 .registrate{
    color: #fff;
    background-color: #f39c12;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 90px;
}

.lista2 .registrate:hover{
    transform: scale(1.040,1.040);
    background-color: #e9ad4d;
}

.lista2 .ingresar:hover{
    transform: scale(1.040,1.040);
    background-color: #e9ad4d;
}

.lista2 .idioma{
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 50px;
}

/*------------------------------------------ MAIN -----------------------------------------------*/

.main{
    display: flex;
}

.texts{
    width: 35%;
    margin-left: 150px;
    margin-top: -40px;
}

.texts .tit{
    font-size: 28px;
    margin-top: 80px;
    margin-left: 30px;
    color: #f0932b;
}

.texts .subtext{
    color: #84817a;
}

.cards{
    display: flex;
    margin-top: 70px;
    width: 640px;
}

.cards .card{
    margin-top: 70px;
    margin-left: 20px;
    border-radius: 7px;
    height: 300px;
    width: 280px;
}

.card .imgs{
    height: 180px;
    position: relative;
}

.card .imgs .profesor1{
    transform: scale(1.3,1.3);
    top: 10px;
}

.card .tablero1{
    margin-left: 17px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card .profesor1{
    position: absolute;
    left: 100px;
}

.card .textsCard{
    margin: 17px;
    position: absolute;
    box-shadow: rgba(71, 71, 71, 0.24) 0px 1px 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f7f7f7;
    height: 100px;
    width: 290px;
}

.textsCard2{
    margin-left: 20px;
}

.card1 .textsCard2 p{
    margin-left: 60px;
    font-size: 17px;
}

.btn-docentes{
    background-color: #f0932b;
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 200px;
    transition: 0.3s;
}

.btn-docentes:hover{
    transform: scale(1.030,1.030);
    background-color: #ee9e42;
}

.card2 .textsCard2 p{
    margin-left: 46px;
}

/*---------------------------------------------- SUBMAIN --------------------------------------------*/

.tituloNoticia{
    color: #192a56;
    width: 180px;
    margin: 210px auto;
    margin-bottom: 10px;
    padding-left: 20px;
    border-bottom: 3px solid #e9ad4d;
    border-radius: 2px;
}

.submain{
    background-color: #fff;
    max-height: 620px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}


/*----- SUBMAIN CONTENT -----*/

.submain .noticia{
    cursor: pointer;
    margin: 40px 10px 10px 30px;
    height: 260px;
    width: 400px;
}

.noticia:hover p{
    display: block;
}

.submain .noticia img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.tituloNoticia2{
    color: #192a56;
    transition: 0.5s;
    padding: 10px;
    width: 180px;
    margin: 40px auto;
    margin-bottom: 50px;
    border-radius: 10px;
}

.tituloNoticia2 h3{
    margin: 0;
}

.tituloNoticia2 i{
    margin-left: 20px;
}

.tituloNoticia2:hover{
    cursor: pointer;
    background-color: #192a56;
    color: #fff;
}

/*---------------------------------------------- FOOTER --------------------------------------------*/

.footer-basic {
    padding:40px 0;
    background-color: black;
    color:#a9abad;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }

  .footer-basic .list-inline{
    display: inline-flex;
    margin-left: 500px;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    opacity:0.75;
    transition: 2s;
  }

  .footer-basic .fa-facebook{
    color: #067dd8;
  }

  .footer-basic .fa-twitter{
    color: #2f95e4;
  }

  .footer-basic .fa-youtube{
    color: crimson;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
    transform: rotate(360deg);
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }


  /*-------------------------------------- RESPONSIVE ---------------------------------------*/

  @media (min-width: 320px) and (max-width: 767px){

    body{
        max-width: 480px;
        width: 480px;
        background-size: auto 25%;
    }

    .principal{
       overflow: hidden;
    }

    .nav-container ul{
        padding-left: 10px;
    }

    .lista2{
        margin-top: 5px;
        margin-left: 60px;
    }

    .lista2 .ingresar{
        top: 10px;
        left: 200px;
        position: fixed;
        z-index: 1;
    }

    .lista2 .fecha{
        display: none;
    }

    .nav-container ul{
        margin-left: 20px;
    }

    .nav-container ul li{
        margin-left: 30px;
    }

    .main{
        display: block;
    }

    .main .texts{
        width: 300px;
        margin-left: 110px;
        margin-top: 20px;
    }

    .main .cards{
        margin-top: 560px;
        margin-left: 130px;
    }

    .main .card1{
        left: -150px;
    }

    .main .card2{
        top: 650px;
        left: -20px;
    }

    .submain{
        display: block;
    }

    .submain .tabla{
        display: none;
    }

    .submainContent{
        margin-left: 5px;
        margin-top: 10px;
    }

    .footer-basic{
        width: 500px;
    }

    .footer-basic .list-inline{
        margin-left: 10px;
    }
}



@media (min-width: 768px) and (max-width: 1023px){

    body{
        background-size: 100%;
    }

    .nav-container ul{
        margin-left: 50px;
    }

    .lista2{
        margin-left: 10px;
    }

    .main{
        display: block;
    }

    .main .texts{
        width: 50%;
        margin-left: 270px;
    }

    .cards{
        margin-left: 400px;
    }

    .card1{
        top: 100px;
    }

    .card2{
        top: 577px;
        left: 10px;
    }

    .tabla{
        display: none;
    }

    .footer-basic .list-inline{
        margin-left: 250px;
    }
}